*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
html{
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    background: #000000;
    color: white;
}
.me{
    width: 700px;
    position: absolute;
    border-radius: 50%;
    transform: translateX(1200px) translateY(200px);
}
 #header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;
    z-index: -1;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 
    0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s  linear infinite;
    animation-duration: calc(100s/ var(--i));
}
.bubbles span:nth-child(even){
box-shadow: 
    0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    background: #ff2d75;

}
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


}
.logo {
    width: 140px;

}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff7b00;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;


}
nav ul li a:hover::after {
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 30px;

}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span {
    color: #ff7b00;
}
#about {
    padding: 80px 0;
    color: #ababab;


}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    
}
.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}
.about-col-2 {
    flex-basis: 60%;

}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;


}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff7b00;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.4s;

}
.tab-links.active-link::after {
  width: 50%;

}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span {
    color: #ff9532;
    font-size: 14px;
    
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
    
}






/* -----------services----------- */

#services{
    padding: 30px 0;
    margin: 20px;

}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    
}
.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom:30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}
.services-list div:hover{
    background: #ff7b00;
    transform: translateY(-10px);
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;

}
.contact-left p i{
    color: #ff7b00;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: 0.5s;
}
.social-icons a:hover{
    color: #ff7b00;
    transform: translateY(-10px);
}
.btn{
    color: white;
    text-decoration: none;
    border: 2px solid #ff7b00;
    transform: translateY(10px);
    display: inline-block;
    padding: 10px 10px 5px;
    margin-bottom: 30px;
    margin-top: 20px;
    transition: 0.5s;
}
.btn:hover{
    background-color: #ff7b00;
}
.sub-btn{
    background: #777;
}
.submit
{
    border: 2px solid #ff7b00;
    padding: 10px 10px 10px;
    background: transparent;
    color: white;
    transition: 0.5s;

}
.submit:hover{
   background-color: #ff7b00;

}
form input, form textarea{
    border: 0;
    width: 100%;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 10px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;

}
.copy{
    width: 100%;
    color: #acacac;
    text-align: center;
    margin: 15px 0;
    padding: 15px 0;
    background: #161616;
}
#icon{
    width: 30px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    
    text-align: right;
}
.light{
    background-color: rgb(235, 235, 235);
}
.project{
    
}
