@font-face {
    font-family: Timer;
    src: url(CursedTimerUlil-Aznm.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
html{
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    background: #000000;
    color: white;
}
.me{
    width: 700px;
    position: absolute;
    border-radius: 50%;
    transform: translateX(1200px) translateY(200px);
}
 #header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;
    z-index: -1;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 
    0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s  linear infinite;
    animation-duration: calc(100s/ var(--i));
}
.bubbles span:nth-child(even){
box-shadow: 
    0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    background: #ff2d75;

}
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


}
.logo {
    width: 140px;

}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff7b00;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;


}
nav ul li a:hover::after {
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 30px;

}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span {
    color: #ff7b00;
}
#about {
    padding: 80px 0;
    color: #ababab;


}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    
}
.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}
.about-col-2 {
    flex-basis: 60%;

}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;


}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff7b00;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.4s;

}
.tab-links.active-link::after {
  width: 50%;

}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span {
    color: #ff9532;
    font-size: 14px;
    
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
    
}






/* -----------services----------- */

#services{
    padding: 30px 0;
    margin: 20px;

}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    
}
.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom:30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}
.services-list div:hover{
    background: #ff7b00;
    transform: translateY(-10px);
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;

}
.contact-left p i{
    color: #ff7b00;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: 0.5s;
}
.social-icons a:hover{
    color: #ff7b00;
    transform: translateY(-10px);
}
.btn{
    color: white;
    text-decoration: none;
    border: 2px solid #ff7b00;
    transform: translateY(10px);
    display: inline-block;
    padding: 10px 10px 5px;
    margin-bottom: 30px;
    margin-top: 20px;
    transition: 0.5s;
}
.btn:hover{
    background-color: #ff7b00;
}
.sub-btn{
    background: #777;
}
.submit
{
    border: 2px solid #ff7b00;
    padding: 10px 10px 10px;
    background: transparent;
    color: white;
    transition: 0.5s;

}
.submit:hover{
   background-color: #ff7b00;

}
form input, form textarea{
    border: 0;
    width: 100%;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 10px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;

}
.copy{
    width: 100%;
    color: #acacac;
    text-align: center;
    margin: 15px 0;
    padding: 15px 0;
    background: #161616;
}
#icon{
    width: 30px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    
    text-align: right;
}
.light{
    background-color: rgb(235, 235, 235);
}
.project img{
    width: 400px;
}
.project:hover img{
  width: 420px;
  transition: 0.2s;
}
.project:hover{
    background: gray;
}
.date{
    font-size: 18px;
    margin-left: 10px;
}
/* calculator */

.calculator {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    position: relative;
    margin-top: -800px;
    margin-left: 800px;
    margin: 10px;
}
.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0),5px 5px 15px rgba(0, 0, 0, 0.2) ;
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
    transition: 0.4s;
}
.calculator form input:hover {
    background-color: white;
    color: black;
}
form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

}
form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal {
    width: 145px;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.date{
    text-align: center;
    font-family: Timer;
    font-size: 60px;
    margin-left: 250px;
    margin-top: -200px;
    width: 390px;
    padding: 20px;
color: rgb(203, 255, 61);
color: white;
  animation: glowPulse 1.5s ease-in-out infinite alternate
}
@keyframes glowPulse {
  0% {
    text-shadow:
      0 0 5px  #ffc619,
      0 0 10px #fff700;
  }
  100% {
    text-shadow:
      0 0 10px #ffff2f,
      0 0 20px #ffff00;
  }
}
.music-player{
    background: #ffe0e5;
    width: 400px;
    height: 580px;
    padding: 25px 35px;
    text-align: center;
    margin-left: 1000px;
    margin-top: -250px;
    border-radius: 10px;
}
.music-player nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.circle-left , .circle-right {
    color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #f53192;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
    transition: 0.2s;
    z-index: 10;
}
.circle-left:hover , .circle-right:hover {
    color: white;
    background: #f53192;
    cursor: pointer;
}

.song-img{
    width: 200px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.2);
}
.song{
    color: black;
}
.controls{
    margin-top: 30px;
}
.song-select{
    color: black;
    background: white;
    border-radius: 10px;
    margin-top: 5px;
}
.song-select:hover{
    background-color: #f53192;
    color: rgb(255, 248, 236);
}
.display {
    width: 375px;
    margin-top: 50px;
    margin-bottom: 30px;
    background: rgba(4, 4, 4, 0);
    color: #333;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}

.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}
.Lala{
    color: white;
    background-color: orangered;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
}
.Lala:hover{
    background: #ffffff;
    color: black;
}
.pass{
    width: 320px;
    margin-left: 130px;
    margin-top: -200px;
}
.GenPass{
    color: white;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba,#5b548a);
    color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.apps{
    display: flex;
    gap: 100px;
}
.apps li{
    display: none;
}
